name: Tests

on:
  push:
    branches: [main]
    paths-ignore:
    - "**.md"
    - "**.yaml"

  pull_request:
    branches: [main]
    paths-ignore:
    - "**.md"
    - "**.yaml"

concurrency: 
  group: ${{ github.ref_name }}-test
  cancel-in-progress: true

jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Running Tests
        run: |
          go mod tidy
          make test